<div style="min-height: 100vh;" class="container d-flex flex-column justify-content-center align-items-center">
    <h1>Login</h1>
    <p>More than 100 plus Recipes from around the world</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="border shadow p-5 mt-5">
        <h3 class="mb-4 text-center"><i class="fa-solid fa-graduation-cap me-2"></i>Cookpedia</h3>
        <div class="mb-3">
            <input name="email" formControlName="email" type="email" placeholder="E Mail" class="form-control">
        </div>
        @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
            <div class="text-danger fw-bolder">*Invalid Email</div>
        }
        <div class="mb-3">
            <input name="password" formControlName="password" type="password" placeholder="Password" class="form-control">
        </div>
        @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
            <div class="text-danger fw-bolder">*Invalid Password</div>
        }
        <button type="submit" class="btn bg-success rounded text-light w-100">Login</button>
    </form>
</div>
<app-footer></app-footer>